// COLORS

$color-primary:  #58e1c1;
$color-secondary:  #51DDFC;
$color-text: #777777;
$color-error: #E4757A;
$color-warning: #FD7856;
$white: #fff;


// MEDIA QUERY 

$brk-mobile: '(min-width: 768px)';


